<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <div id="weatherInfo" class="jumbotron"></div> <!-- jumbotron 클래스로 스타일링 -->
      <script>
      const API_KEY = '7b2e0eda8317c7c19a930c777a1c2f9f'; // 오픈웨더맵 api 에서 발급받은 키.

        async function getWeatherData(latitude, longitude) {
          const response = await fetch(
            "https://api.openweathermap.org/data/2.5/weather?q=" + 'Daejeon' + "&appid=" + API_KEY
          );
          const data = await response.json();//날씨정보를 json으로 받음
          return data;
        }

        function getWeatherIconUrl(iconCode) { // 아이콘 가져오기
          return "http://openweathermap.org/img/wn/" + iconCode + ".png";
        }

        function translateWeatherToKorean(weather) {
          switch (weather) {
            case 'Clear':
              return '맑음';
            case 'Clouds':
              return '흐림';
            case 'Rain':
              return '비';
            case 'Thunderstorm':
              return '천둥번개';
            case 'Drizzle':
              return '이슬비';
            case 'Snow':
              return '눈';
            case 'Mist':
              return '안개';
            case 'Fog':
              return '안개';
            case 'Haze':
              return '연무';
            case 'Dust':
              return '미세먼지';
            case 'Smoke':
              return '연기';
            case 'Squall':
              return '돌풍';
            case 'Tornado':
              return '토네이도';
            default:
              return weather;
          }
        }

        function onGeoOk(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          getWeatherData(latitude, longitude)
            .then(data => {
              const temperature = data.main.temp;
              const weather = data.weather[0].main;
              const city = data.name;
              const iconCode = data.weather[0].icon; // 아이콘 코드 가져오기
              const currentDate = new Date();
              const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
              const formattedDate = currentDate.toLocaleDateString('ko-KR', dateOptions);
              const weatherInfoElement = document.getElementById("weatherInfo");

              // 날씨를 한글로 번역
              const translatedWeather = translateWeatherToKorean(weather);

              // 아이콘 이미지 추가
              const iconImageUrl = getWeatherIconUrl(iconCode);

              let currentIndex = 0; // 현재 출력할 태그의 인덱스

              // 각 정보를 일정 시간 간격으로 출력하는 함수
              function displayInfo() {
            	  
                const infoTags = [
                  '<p class="lead"><img src="' + iconImageUrl + '" alt="날씨 아이콘">' + (city === 'Daejeon' ? '대전' : city) + '</p>',
//                   '<p class="lead"><img src="' + iconImageUrl + '" alt="날씨 아이콘">' + formattedDate + '</p>',
                  '<p class="lead"><img src="' + iconImageUrl + '" alt="날씨 아이콘">' + (temperature - 273.15).toFixed(1) + '℃</p>',
                  '<p class="lead"><img src="' + iconImageUrl + '" alt="날씨 아이콘">' + translatedWeather + '</p>',
                ];

                // currentIndex에 해당하는 태그를 출력하고, 인덱스를 업데이트
                weatherInfoElement.innerHTML = infoTags[currentIndex];
                currentIndex = (currentIndex + 1) % infoTags.length;
              }

              // 일정한 간격으로 displayInfo 함수를 호출하여 정보를 출력
              setInterval(displayInfo, 5000); // 5초 간격으로 출력

              // 초기에 첫 번째 태그를 출력
              displayInfo();
            })
            .catch(error => {
//               console.log("오류 발생:", error); 동작속도 문제인 곳이라 주석처리. 
//               alert("날씨 데이터를 가져올 수 없습니다. 나중에 다시 시도하세요.");
            });
        }

        function onGeoError() {
          alert("위치 정보 허용을 하지 않아, 날씨 정보를 제공할 수 없습니다.");
        }

        navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
      </script>
    </div>
  </body>
</html>
